<html>
    {% load static %}
<link rel="stylesheet" href="{% static 'login.css'%}" />
<nav>
    <div class="logo">
      <!-- <img  class="Renewo_img" src=" Renewo.png" alt="">-->
      <a href="RenewO.html" class="logo"> 𝓡𝓮𝓷𝓮𝔀𝓸</a>
    </div>
    <div class="search">
      <input type="text" placeholder="Search for Products, Brands and More" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <a href="RenewoLogin.html" class="navlink angledownicon"
      >My Account
      <i class="fa-solid fa-angle-down"></i>
    </a>
    <a href="/seller" class="navlink">Become a Seller </a>
    <a href="/companys" class="navlink angledownicon">Company 
    </a>
    <!-- <button class="login"> Login </button>  -->
    <a href="/cart" class="navlink">
      <i class="fa-solid fa-cart-shopping"></i>
      Cart</a>

  </nav>
  </html>