<footer>
    <div class="container2">
      <div class="footer-cols">
        <ul>
          <li>ABOUT</li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#"> About Us </a>
          </li>
          <li>
            <a href="#"> Careers </a>
          </li>
          <li>
            <a href="#"> Stories </a>
          </li>
          <li>
            <a href="#"> Press </a>
          </li>
          <li>
            <a href="#"> Wholesale </a>
          </li>
          <li>
            <a href="#"> Cleartrip </a>
          </li>
          <li>
            <a href="#"> Corporate </a>
          </li>
          <li>
            <a href="#"> Information </a>
          </li>
        </ul>

        <ul>
          <li> HELP </li>
          <li>
            <a href="#"> Payments </a>
          </li>
          <li>
            <a href="#"> Shipping </a>
          </li>
          <li>
            <a href="#">Cancellation & return </a>
          </li>
          <li>
            <a href="#"> FAQ </a>
          </li>
          <li>
            <a href="#"> Report </a>
          </li>
          <li>
            <a href="#"> Infringement </a>
          </li>
        </ul>

        <ul>
          <li>  CONSUMER POLICY </li>
          <li>
            <a href="#" > Cancellation & Return</a>
          </li>
          <li>
            <a href="#"> Term of Use </a>
          </li>
          <li>
            <a href="#"> Security </a>
          </li>
          <li>
            <a href="#"> Privacy </a>
          </li>
          <li>
            <a href="#"> Sitemap </a>
          </li>
          <li>
            <a href="#"> Grievance Redressal </a>
          </li>
          <li>
            <a href="#"> EPR Compliance </a>
          </li>
        
        </ul>

        <ul>
          <li> SOCIAL </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i> Twitter </a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
          </li>
          
        </ul>

      </div>
    </div>
    
</footer>



 </body>
</html>