*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    background-color:  #f1f3f6;
}
/*..................... Navigation Bar For RENEWO In CSS  ...........................*/
nav{
    background-color: rgb(142, 211, 220);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px ;
    margin: -5px 0px;

}
.logo{
    padding-top: 15px;
    padding-right: 15px;
    color:rgb(255, 255, 255);
   text-shadow: 2px 2px 5px  black;
   text-decoration: none;
   font-size: 25px;
}
.search{
    padding: 12px;
    width: 600px;
    margin: 15px;
    background-color: white;
    color: #2874f0;
    display: flex;
    justify-content: space-between;
    border-radius: 2px 0 0 2px;
    box-shadow:   0 2px 4px 0 rgba(0,0,0,.23);

}
.search input{
    border: none;
    width: 380px;
    outline: none;
    font-size: 14px;
    margin: 0px 8px ;
    background-color:  white;
}
.navlink{
    margin: 20px 25px;
    /* padding-right: 20px; */
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    /* color: aliceblue; */
    color: rgb(0, 0, 0);

}
 
.angledownicon i{
    font-size: 12px;
}
/* ................ Second MenuBar ProductList ..................... */
.productlist{
    background-color: aliceblue;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    box-shadow:   0 2px 4px 0 rgba(0,0,0,.23);

}
.productspan i{
    font-size: 10px;
}
 /* ..................... RenewO login .......................  */

 .login_section{
    background-color: #f1f3f6;
    display: grid;
    place-items: center;
    min-height: 500px;
    padding-top: 50px;
 }

 .login_container{
    background-color: white;
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 16px;
    width: 840px;
    position: relative;
    background-color: #fff;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.08); 


 }
 .left{
    /* background-color: #2874f0; */
    background-color: rgb(142, 211, 220);

    padding: 40px 33px;
    width: 340px;
 }
 .login1{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;

 }
 .login1_p{
    color:#5f5d5d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
 }
 .input_group{
    position: relative;
    margin-bottom: 30px;

 }
.right{
    padding: 30px 20px; 
}
.input{
    padding: 0.5rem 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 16px;
}
.label{
    position: absolute;
    left: 0;
    top: 63px;
    transform: translateY(-52px);
    color: 878787;
    pointer-events: none;
    transform-origin:left ;
    transition: transform 0.2s ease;
}
.input::placeholder{
    visibility: hidden;
}

.input:focus ~ label,
.input:not(:placeholder-shown) ~ label{
    transform: translateY(-75px) scale(0.9);

}
.forget{
    position: absolute;
    right: 0;
    top: 63px;
    transform: translateY(-52px);
    text-decoration: none;
    color: #2874f0;

}
.forget:hover{
    text-decoration:underline ;
}
.login_a{
    text-decoration: none;
    color: #2874f0;
}

.login_a:hover{
    text-decoration:underline ;
}
.login_p{
    font-size: 14px;
    color: #878787;
}
.login_btn{
    width: 100%;
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    background-color: #fb641b;
    padding: 10px;
    box-shadow:   0 0 0 0 rgba(0,0,0,.01);
    color: white;
    margin-bottom: 300px;
}
.login_aa{
    text-decoration: none;
    color: #2874f0;
    padding-left: 130px;
}